/* FOnt */
#top_cont p 
{
   font-family: 'Pacifico', cursive;
}
#top_cont h1,h3{
    font-family: 'ZCOOL KuaiLe', cursive;
}
/* navbar */
 
#top_nav 
 {
     background-color: #daac00;
      padding: 1% 8%;
 }
  .nav-item{
    padding-left:25px;
      font-size:17px;
  }
   .logo{
        
       width:150px;
   }
   #search_box{
       background-color:#fcc302;
       color: white;
       border: 0;
       border-radius: 0px;
       position:relative;
       left: 45px;
box-shadow: 5px 10px 11px #00000021;
   }
   #search_box::placeholder{
       color:white;
   }
   #search_btn{
       position:relative;
       border-radius: 0px;
       border: 0;
       background-color: rgba(16, 160, 218, 0.979);
   }
   @media only screen and (max-width: 992px ) {
#search_form{
    position:relative;
    left:-25px;
    margin: 2% 0;
}
   }
    
   /* 2nd container */
   #banner
{
    background-color: #fcc302;
    padding-top:5% ;
     
}
   #banner_text h1{
    color: white;
    font-size: 50px;
   }
   #banner_text p{
       color: white;
       font-size: 25px;
      padding-top: 30px;
      padding-right: 30px;
       text-align:left;
   }
#banner_btn1{
    color: white;
    font-size: 15px;
    background-color:#00bec9;
   border: 2px solid #00bec9;
   padding:8px;
}
#banner_btn2{
    border: 2px solid white;    
    margin-left:30px;
    font-size: 15px;
    padding:8px;
}
@media only screen and (max-width:931px)
{
    #banner_text h1{
        font-size: 40px;
    }
    #banner_text p{
        font-size: 20px;
    }
}
@media only screen and (max-width:377px)
{
    #banner_text h1{
    font-size: 35px;
}
#banner_text p{
    font-size: 18px;
}
}
@media only screen and (max-width:768px)
{
#banner img{
     
     display:block;
     margin: 0 auto;
     width: 50%;
     padding-top:5%;
    
}
#banner {
    padding-left:8% ;
}
}

/* banner 2 */
#banner_2
{
    padding-top:10%;
    padding-bottom: 10%;
    background-color: whitesmoke;
}
#banner_2_text h1{

    color: #313243;
font-size:50px;

}
#banner_2_text p{

    color: #313243;
font-size:25px;
padding-top:5%;
padding-right:10%;
}
#banner_2_text{
    padding-right:2%;
}
#banner_2_btn{
    border:2px solid #fcc302;
background-color: #fcc302;
color: white;
font-size: 15px;
    padding:8px;
}
@media only screen and (max-width:1023px)
{
    #banner_2_text h1{
        font-size: 40px;
    }
    #banner_2_text p{
        font-size: 20px;
    }
}
@media only screen and (max-width:821px)
{
    #banner_2_text h1{
    font-size: 35px;
}
#banner_2_text p{
    font-size: 18px;
}
}
@media only screen and (max-width:768px)
{
#banner_2_img img{
     
     display:block;
     margin: 0 auto;
     width: 70%;
     padding-top:8%;
    
}
#banner_2 {
    padding-left:50px;
}
}
@media only screen and (max-width:366px)
{
    #banner_text h1{
        font-size:30px;
         margin-bottom:-10px;;
    }
    #banner_2_text h1{
        font-size:30px;
    }
}
/* Banner 3 */
#banner_3
{    padding-top:60px;  
    background-color: #fcc302;
      padding-bottom: 70px;

}
#banner_3_text h1{
    color: whitesmoke;
    text-align: center;
}
#banner_3_text p{
    color: whitesmoke;
    font-size:22px;
    text-align: center;
     margin-bottom:35px;
}
#banner_3_pg1 p, #banner_3_pg2 p, #banner_3_pg3 p{
    color: whitesmoke;
    text-align: center;
      font-size:18px;
    
}
 
#banner_3_pg1 h3, #banner_3_pg2 h3, #banner_3_pg3 h3{
    color: whitesmoke;
    text-align:center;
   padding-top: 10px;

}
#banner_3 img{
    width: 90%;
}
@media  only screen and (max-width: 889px)
 {
    #banner_3_pg1 h3, #banner_3_pg2 h3, #banner_3_pg3 h3
    {
        font-size:20px;
    }   
    #banner_3_pg1 p, #banner_3_pg2 p, #banner_3_pg3 p
    {
        font-size: 15px;
    }   
}
@media only screen and (max-width:768px) 
{
    #banner_3 img
    { 
        display:block;
        margin: 0 auto;
        width: 60%;
        padding-top:4%;
}
#banner_3_pg1 p, #banner_3_pg2 p, #banner_3_pg3 p
{
     margin: 0 150px;
}
}
@media only screen and (max-width:482px)
{
    #banner_3_pg1 p, #banner_3_pg2 p, #banner_3_pg3 p{
        margin: 0 100px;
   }
#banner_3_text p{
    font-size: 20px;
}
}
@media only screen and (max-width:421px)
{
    #banner_3_text p{
        font-size:15px;
    }   
}
@media only screen and (max-width:321px)
{
    #banner_3_text p{
        font-size:14px;
    } 
    #banner_3_pg1 p, #banner_3_pg2 p, #banner_3_pg3 p{
        margin: 0 50PX;
   }
}
 /* banner 4 */

 #banner_4 
 {
     padding-top:140px;  
      background-color: whitesmoke;
     padding-bottom: 140px;
 }
 #banner_4_pg h1 {
 padding-top: 10%;
padding-left:30%;
 }
 #banner_4_pg p {
   
    padding-left:60%;
    margin-top: 15px;
     }
     #banner_4_pg {
        text-align: right;

     }
#banner_4_pg button{
background-color: #fcc302;
 color: whitesmoke; 
 font-size: 15px;
    padding:8px;
     }
     @media only screen and (max-width:1108px) 
     {
        #banner_4_pg h1{
            font-size:35px;
            padding-left:10%;
        }  
         #banner_4_pg p{
             
             padding-left:20%;
         }
     }
     
     @media only screen and (max-width:768px) 
     {
              
    #banner_4_img img
    { 
        display:block;
        margin: 0 auto;
        width: 60%;
        padding-top:4%;
}
#banner_4_pg h1{
    font-size:25px;
    padding-left:0%;
    text-align:center;
}  
 #banner_4_pg p{
    text-align:center;
 font-size: 15px;
     padding:0 10%;
 }
 #banner_4_pg button {
    
display:block;
margin:0 auto;

 }
}


  